.archive-filters {
    &__select-container {
        display: flex;
        flex-direction: column-reverse;
        gap: $theme-spacing-oneandhalf;

        @include until($tablet) {
            width: 100%;
        }

        @include from($tablet) {
            flex-direction: unset;
            flex-wrap: wrap-reverse;
        }

        select {
            width: 100%;
            color: inherit;

            @include until($desktop) {
                font-size: 1em;
            }
        }
    }

    &__description {
        width: 100%;
    }
}
