.button-toggle {
    border: 0;
    background-color: unset;
    cursor: pointer;

    .icon {
        transition: transform .15s linear;
    }

    &.is-active {
        .icon {
            transform: rotate(-180deg);
        }
    }
}
