.is-content-grid {
    @include from($desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 40rem 1fr 1fr;
    }

    > *,
    > .is-align-half {
        @include from($desktop) {
            grid-column: 3 / 4;
        }
    }

    > .is-align-wide {
        @include from($desktop) {
            grid-column: 2 / 5;
        }
    }

    > .is-align-full {
        @include from($desktop) {
            grid-column: 1 / 6;
        }
    }
}
