#CybotCookiebotDialogHeader {
    display: none !important;
    h2 {
        font-size: 1rem;
    }
}

#CybotCookiebotDialog {
    border-radius: 0 !important;

    h2 {
        font-size: 1rem !important;
        text-transform: none;
    }

}
