$icon-fill: $primary !default;

.icon {
    display: inline-block;
    fill: $icon-fill;

    &--small {
        width: $theme-spacing-half;
        height: $theme-spacing-half;
    }

    &--medium {
        width: $theme-spacing-three-quarters;
        height: $theme-spacing-three-quarters;
    }

    &--large {
        width: $theme-spacing;
        height: $theme-spacing;
    }

    &.is-primary {
        fill: $primary;
    }

    &.is-primary-invert {
        fill: $primary-invert;
    }

    &.is-black {
        fill: $black;
    }
}
