// sass-lint:disable no-color-literals

.overlay {
    @extend %overlay;

    &--dark-80 {
        background-color: rgba($black, .8);
    }

    &--dark-70 {
        background-color: rgba($black, .7);
    }

    &--dark-50 {
        background-color: rgba($black, .5);
    }

    &--dark-40 {
        background-color: rgba($black, .4);
    }

    &--dark-30 {
        background-color: rgba($black, .3);
    }

    &--dark-gradient {
        background: linear-gradient(rgba($black, 0), rgba($black, .5));
    }
}
