$pagination-item-color: $secondary-invert !default;
$pagination-item-color-current: $primary-invert !default;
$pagination-item-color-hover: $pagination-item-color !default;
$pagination-item-color-focus: $pagination-item-color !default;

$pagination-item-background-color: $secondary !default;
$pagination-item-background-color-hover: opacify($secondary-light, .75) !default;
$pagination-item-background-color-focus: $secondary-light !default;
$pagination-item-background-color-current: $primary !default;
$pagination-item-background-color-current-hover: $primary-dark !default;
$pagination-item-background-color-current-focus: $primary-dark !default;

$pagination-item-hover-shadow-size: 0 4px 8px !default;
$pagination-item-hover-shadow-color: rgba(0, 0, 0, .15) !default;
$pagination-item-border-radius: $theme-spacing-quarter !default;

$pagination-item-transition-easing: $easing !default;
$pagination-item-transition-speed: $speed !default;

.pagination {
    @include list-reset;

    .pagination-item {
        a {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 2.2352rem;
            height: 2.2352rem;
            padding: $theme-spacing-quarter $theme-spacing-half;
            border-radius: $pagination-item-border-radius;
            background-color: $pagination-item-background-color;
            color: $pagination-item-color;

            &:focus {
                background-color: $pagination-item-background-color-focus;
                color: $pagination-item-color-focus;
            }

            &:hover {
                background-color: $pagination-item-background-color-hover;
                color: $pagination-item-color-hover;
            }

            &:not(.hellip) {
                &:hover,
                &:focus {
                    transition: box-shadow $pagination-item-transition-easing $pagination-item-transition-speed;
                    box-shadow: $pagination-item-hover-shadow-size $pagination-item-hover-shadow-color;
                }
            }
        }

        &.is-current {
            a {
                background-color: $pagination-item-background-color-current;
                color: $pagination-item-color-current;

                &:hover {
                    background-color: $pagination-item-background-color-current-hover;
                }

                &:focus {
                    background-color: $pagination-item-background-color-current-focus;
                }
            }
        }
    }

    .pagination-item,
    .unavailable,
    .arrow {
        margin: 0 .35rem .7rem;
    }

    .paginate {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 .35rem;
    }

    .hellip {
        color: $secondary-invert;
    }
}
