$pill-background-color: $secondary !default;
$pill-color: $secondary-invert !default;
$pill-color-active: $primary-invert !default;
$pill-color-hover: $secondary-invert !default;
$pill-background-active: $primary !default;

$pill-background-active-focus: $primary-dark !default;
$pill-background-color-hover: $color-siniharmaa-75 !default;
$pill-background-color-focus: $color-siniharmaa !default;
$pill-background-color-active: $dark !default;
$pill-background-color-focus: $dark !default;

.pill {
    font-family: $family-secondary;
    font-size: 85%;
    font-weight: 500;
    line-height: 1.1;
    display: inline-block;
    padding: $theme-spacing-half $theme-spacing-three-quarters;
    color: $pill-color;
    background-color: $pill-background-color;
    border: 1px solid transparent;
    border-radius: $theme-spacing-quarter;

    &.is-active,
    &:focus,
    &:hover {
        text-decoration: none;
    }

    &.is-white {
        background-color: $white;
        border: 1px solid $pill-background-color;
    }

    &:hover {
        color: $pill-color-hover;
        background-color: $pill-background-color-hover;
    }

    &:focus,
    &:active {
        background-color: $pill-background-color-focus;
    }

    &.is-active {
        color: $pill-color-active;
        background-color: $pill-background-active;

        &:hover,
        &:focus {
            background-color: $pill-background-active-focus;
        }
    }

    &.is-outlined {
        background-color: transparent;
        border-color: $pill-background-color;

        &:hover {
            color: $pill-color-hover;
            background-color: transparent;
            border-color: $pill-background-color-hover;
        }

        &:focus,
        &:active {
            background-color: transparent;
            border-color: $pill-background-color-focus;
        }
    }

    &.is-outlined--primary {
        color: $primary;
        background-color: $white;
        border: 2px solid $primary-dark;

        &:hover,
        &:focus,
        &:active {
            color: $pill-color-active;
            background-color: $pill-background-active;
            border-color: $pill-background-active;
        }
    }
}
