$pill-background-color: $secondary !default;
$pill-color: $secondary-invert !default;
$pill-color-active: $primary-invert !default;
$pill-color-hover: $secondary-invert !default;
$pill-background-active: $primary !default;

$pill-background-active-focus: $primary-dark !default;
$pill-background-color-hover: opacify($secondary-light, .75) !default;
$pill-background-color-focus: $secondary-light !default;
$pill-background-color-active: $dark !default;
$pill-background-color-focus: $dark !default;
$pill-border-color: transparent !default;
$pill-border-color-hover: transparent !default;
$pill-border-radius: $theme-spacing-quarter !default;
$pill-border-color-focus: $black !default;
$pill-default-border-color-focus: transparent !default;

$pill-outlined-color: $pill-color !default;
$pill-outlined-color-hover: $pill-color-hover !default;
$pill-outlined-border-color: $pill-background-color !default;
$pill-outlined-border-color-hover: $pill-background-color-hover !default;
$pill-outlined-border-color-focus: $pill-background-color-focus !default;
$pill-outlined-background-color: transparent !default;
$pill-outlined-background-color-hover: transparent !default;
$pill-outlined-background-color-focus: transparent !default;

$pill-transition-easing: $easing !default;
$pill-transition-speed: $speed !default;
$pill-hover-shadow-size: 0 4px 8px !default;
$pill-hover-shadow-color: rgba(0, 0, 0, .15) !default;

.pill {
    display: inline-block;
    padding: $theme-spacing-half $theme-spacing-three-quarters;
    border: 2px solid $pill-border-color;
    border-radius: $pill-border-radius;
    background-color: $pill-background-color;
    color: $pill-color;
    font-family: $family-secondary;
    font-size: 85%;
    font-weight: 500;
    line-height: 1.1;

    &:not(span) {
        &.is-active,
        &:focus,
        &:hover {
            text-decoration: none;
        }

        &:focus,
        &.is-focused {
            border-color: $pill-default-border-color-focus;
        }

        &:hover {
            transition:
                box-shadow $pill-transition-easing $pill-transition-speed,
                border-color $pill-transition-easing $pill-transition-speed,
                color $pill-transition-easing $pill-transition-speed,
                background-color $pill-transition-easing $pill-transition-speed;
            border-color: $pill-border-color-hover;
            background-color: $pill-background-color-hover;
            box-shadow: $pill-hover-shadow-size $pill-hover-shadow-color;
            color: $pill-color-hover;
        }

        &:focus,
        &:active {
            background-color: $pill-background-color-focus;
        }

        &:focus {
            outline-offset: 2px;
            outline-width: 2px;
        }
    }

    &.is-primary {
        border-color: $primary;
        background-color: $primary;
        color: $primary-invert;

        &:not(span) {
            &:hover,
            &.is-hovered {
                border-color: transparent;
                background-color: bulmaDarken($primary, 2.5%);
                color: $primary-invert;
            }

            &:focus,
            &.is-focused {
                border-color: $color-black;
                background-color: $primary-invert;
                color: $primary;
            }
        }

        &-invert,
        &.is-inverted {
            border-color: $primary;
            background-color: $primary-invert;
            color: $primary;

            &:not(span) {
                &:hover,
                &.is-hovered {
                    background-color: bulmaDarken($primary, 2.5%);
                    color: $primary-invert;
                }

                &:focus,
                &.is-focused {
                    border-color: $pill-border-color-focus;
                    background-color: $pill-background-color-focus;
                    color: $primary-invert;
                }
            }
        }
    }

    &.is-borderless {
        border-color: transparent !important; /* stylelint-disable-line declaration-no-important */
    }

    &.is-active {
        background-color: $pill-background-active;
        color: $pill-color-active;

        &:not(span) {
            &:hover,
            &:focus {
                background-color: $pill-background-active-focus;
            }
        }
    }

    &.is-outlined {
        border-color: $pill-outlined-border-color;
        background-color: $pill-outlined-background-color;
        color: $pill-outlined-color;

        &:not(span) {
            &:hover {
                border-color: $pill-outlined-border-color-hover;
                background-color: $pill-outlined-background-color-hover;
                color: $pill-outlined-color-hover;
            }

            &:focus,
            &:active {
                border-color: $pill-outlined-border-color-focus;
                background-color: $pill-outlined-background-color-focus;
            }
        }
    }
}
