$pill-background-color: $secondary !default;
$pill-color: $secondary-invert !default;
$pill-color-active: $primary-invert !default;
$pill-color-active-hover: $primary-invert !default;
$pill-color-hover: $secondary-invert !default;
$pill-background-active: $primary !default;

$pill-background-active-focus: $primary !default;
$pill-background-color-hover: $secondary !default;
$pill-background-color-focus: $secondary !default;
$pill-background-color-active: $dark !default;
$pill-background-color-focus: $dark !default;
$pill-border-color: transparent !default;
$pill-border-color-hover: transparent !default;
$pill-border-radius: $theme-spacing-quarter !default;
$pill-border-color-focus: $black !default;
$pill-default-border-color-focus: transparent !default;

$pill-outlined-color: $pill-color !default;
$pill-outlined-color-hover: $pill-color-hover !default;
$pill-outlined-border-color: $pill-background-color !default;
$pill-outlined-border-color-hover: $pill-background-color-hover !default;
$pill-outlined-border-color-focus: $pill-background-color-focus !default;
$pill-outlined-background-color: transparent !default;
$pill-outlined-background-color-hover: transparent !default;
$pill-outlined-background-color-focus: transparent !default;

$pill-transition-easing: $easing !default;
$pill-transition-speed: $speed !default;
$pill-hover-shadow-size: 0 4px 8px !default;
$pill-hover-shadow-color: rgba(0, 0, 0, .15) !default;

.pill {
    font-family: $family-secondary;
    font-size: 85%;
    font-weight: 500;
    line-height: 1.1;
    display: inline-block;
    padding: $theme-spacing-half $theme-spacing-three-quarters;
    color: $pill-color;
    background-color: $pill-background-color;
    border: 2px solid $pill-border-color;
    border-radius: $pill-border-radius;

    &:not(span) {
        &.is-active {
            text-decoration: none;
        }

        &:focus,
        &:hover {
            text-decoration: underline !important;
        }

        &:focus,
        &.is-focused {
            border-color: $pill-default-border-color-focus;
        }

        &:hover {
            color: $pill-color;
            box-shadow: $pill-hover-shadow-size $pill-hover-shadow-color;
            transition: box-shadow $pill-transition-easing $pill-transition-speed,
            border-color $pill-transition-easing $pill-transition-speed,
            color $pill-transition-easing $pill-transition-speed,
            background-color $pill-transition-easing $pill-transition-speed;
        }

        &:focus {
            outline-width: 2px;
            outline-offset: 2px;
        }
    }

    &.is-primary {
        &,
        &:hover,
        &:focus,
        &:active {
            color: $primary-invert;
            background-color: $primary;
            border-color: $primary;
        }

        &-invert,
        &.is-inverted {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $primary;
                background-color: $primary-invert;
                border-color: $primary;
            }
        }
    }

    &.is-borderless {
        border-color: transparent !important;
    }

    &.is-active {
        color: $pill-color-active;
        background-color: $pill-background-active;
    }

    &.is-outlined {
        &,
        &:hover,
        &:focus,
        &:active {
            color: $pill-outlined-color;
            background-color: $pill-outlined-background-color;
            border-color: $pill-outlined-border-color;
        }
    }
}
