.page {
    &__hero {
        height: 18rem;

        @include from($tablet) {
            height: 32rem;
        }
    }

    .entry {
        &__content {
            > p {
                > a {
                    text-decoration: underline;
                }
            }
        }
    }
}
