.accordion {
    &__description {
        @include from($tablet) {
            max-width: 75%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__content {
        p {
            clear: both;
            overflow: auto;
        }
    }

    &__row {
        border: 1px solid $secondary-light;
        border-radius: $theme-spacing-quarter;

        &:hover {
            border-color: darken($secondary-light, 15%);
        }
    }

    &__title-button {
        width: 100%;
        border: 0;
        transition: background-color ease-in .2s, color ease-in .2s;
        appearance: none;

        &[aria-expanded="true"] {
            .icon {
                transform: rotate(180deg);
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &__title-icon {
        .icon {
            transition: transform ease-in .2s;
        }
    }
}
