.countdown {
    &__inner {
        text-align: center;
        color: $color-white !important;
    }

    &__time-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: -$theme-spacing auto;
        z-index: 1;

        @include from($tablet) {
            flex-direction: row;
        }

        @include from($desktop) {
            margin-right: $theme-spacing-two;
            margin-left: $theme-spacing-two;
        }
    }

    &__title,
    &__expired-text {
        color: inherit !important;
    }

    &__figure {
        line-height: 1;
    }

    &__time {
        margin-right: $theme-spacing;
        margin-left: $theme-spacing;
        text-align: center;

        @include from($desktop) {
            margin-right: $theme-spacing-two;
            margin-left: $theme-spacing-two;
        }

        &--date {
            .countdown__figure {
                font-size: 2.5rem;

                @include from($tablet) {
                    font-size: 4rem;
                }

                @include from($widescreen) {
                    font-size: 6.25rem;
                }
            }
        }
    }

    &__expired-text {
        display: none;
    }

    &--is-expired {
        .countdown__expired-text {
            display: block;
        }
    }
}
