.countdown {
    &__inner {
        text-align: center;
    }

    &__time-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: -$theme-spacing auto;
        z-index: 1;

        @include from($tablet) {
            flex-direction: row;
        }

        @include from($desktop) {
            margin-right: $theme-spacing-two;
            margin-left: $theme-spacing-two;
        }
    }

    &__figure {
        line-height: 1;
    }

    &__time {
        margin-right: $theme-spacing;
        margin-left: $theme-spacing;
        text-align: center;

        @include from($desktop) {
            margin-right: $theme-spacing-two;
            margin-left: $theme-spacing-two;
        }
    }

    &__expired-text {
        display: none;
    }

    &--is-expired {
        .countdown__expired-text {
            display: block;
        }
    }
}
