html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

$skip-to-content-shadow: rgba($black, .6);
.skip-to-content {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    color: $black;
    white-space: nowrap;
    background: $white;
    border: 0;
    clip: rect(0 0 0 0);

    &:active,
    &:focus {
        font-size: .875rem;
        font-weight: 700;
        top: $theme-spacing;
        left: $theme-spacing;
        z-index: 100000;
        display: block;
        overflow: visible;
        width: auto;
        height: auto;
        margin: 0;
        padding: $theme-spacing-half;
        color: $black;
        text-decoration: none;
        white-space: normal;
        background: $white;
        box-shadow: 0 0 2px 2px $skip-to-content-shadow;
        clip: auto;
    }
}
