/* Styling for the sites images */
/* stylelint-disable declaration-no-important -- Need a bit of !important to override some Bulmas styles */

figure,
.content figure {
    max-width: 100%;
    margin-left: 0 !important;
}

.size-full {
    width: auto;
}

// Default wp classes
.alignnone,
.aligncenter {
    display: block;
    margin-bottom: $theme-spacing;
}

.alignright {
    display: block;
    margin-bottom: $theme-spacing;

    @include from($tablet) {
        margin-top: $theme-spacing-half !important;
        margin-left: $theme-spacing;
        float: right;
    }

    &.wp-cation {
        margin-bottom: 0;
    }
}

.alignleft {
    display: block;
    margin-bottom: $theme-spacing;

    @include from($tablet) {
        margin-top: $theme-spacing-half !important;
        margin-right: $theme-spacing;
        float: left;
    }
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.wp-caption-text,
.content figcaption.wp-caption-text {
    width: auto;
    padding: $theme-spacing;
    background: $light;
    font-size: $size-7;
    font-style: normal;
    text-align: left;
}
