// The sites typography styles

$accent-light: $primary-light !default;
$accent-dark: $primary-dark !default;
$link-hover: $primary-light !default;
$link-active: $primary-dark !default;

// -- Links
a {
    color: $link;
    transition: color $easing $speed, background-color $easing $speed;

    &:hover,
    &.is-hovered {
        text-decoration: underline;
    }

    &:active,
    &.is-active {
        text-decoration: underline;
    }

    &:focus,
    &.is-focused {
        text-decoration: underline;
        outline: .0625rem dotted;
    }

    &.has-background-primary {
        &:hover,
        &:focus {
            background-color: $link-hover !important; // sass-lint:disable-line no-important
        }

        &:active {
            background-color: $link-active !important; // sass-lint:disable-line no-important
        }
    }

    &.has-background-accent {
        &:hover,
        &:focus {
            background-color: $link-hover !important; // sass-lint:disable-line no-important
        }

        &:active {
            background-color: $link-active !important; // sass-lint:disable-line no-important
        }
    }
}

.has-text-paragraph {
    color: $text !important; // sass-lint:disable-line no-important
}

.is-text-big {
    font-size: 3.25rem;

    @include from($tablet) {
        font-size: 2.88rem;
    }
}

.is-text-bigger {
    font-size: 5.25rem;

    @include from($tablet) {
        font-size: 4.88rem;
    }
}

.is-text-huge {
    font-size: 6.25rem;

    @include from($tablet) {
        font-size: 5.88rem;
    }
}

.has-text-weight-extra-bold {
    font-weight: 800;
}

.has-line-height-tight {
    line-height: 1.1;
}

.hyphenate {
    hyphens: auto;
}

.no-hyphens {
    hyphens: none !important; // sass-lint:disable-line no-important
}
