// The sites typography styles

// -- Links
a {
    transition: color $easing $speed, background-color $easing $speed;
    color: $link;

    &:hover,
    &.is-hovered {
        text-decoration: underline;
    }

    &:active,
    &.is-active {
        text-decoration: underline;
    }

    &:focus,
    &.is-focused {
        text-decoration: underline;
        outline: .0625rem dotted;
    }

    &.has-background-primary {
        &:hover,
        &:focus {
            background-color: $primary-light !important;
        }

        &:active {
            background-color: $primary-dark !important;
        }
    }
}

.is-text-huge {
    font-size: 6.25rem;

    @include from($tablet) {
        font-size: 5.88rem;
    }
}

.has-text-weight-extra-bold {
    font-weight: 800;
}

.has-line-height-tight {
    line-height: 1.1;
}

.no-hyphens {
    hyphens: none !important;
}
