.has-background-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.has-background-secondary {
    &--opaque {
        background-color: rgba($secondary, .5) !important;
    }
}

.has-background-primary-light {
    &--opaque-light {
        background-color: rgba($primary-light, .05) !important;
    }
}
