.is-reversed {
    flex-direction: row-reverse;

    &-tablet {
        @include from($tablet) {
            flex-direction: row-reverse;
        }
    }

    &-desktop {
        @include from($desktop) {
            flex-direction: row-reverse;
        }
    }
}
