// sass-lint:disable no-important

.has-text-primary-invert {
    color: $primary-invert !important;
}

.has-text-secondary-invert {
    color: $black !important;
}

.has-text-black-invert {
    color: $white !important;
}

.has-text-white-invert {
    color: $black !important;
}
