$fly-out-nav-trigger-icon: $primary-dark;
$fly-out-nav-trigger-icon-hover: $primary-dark;
$pill-background-active-focus: $primary;

.pill.is-primary-invert {
    color: $primary !important;
}

// Use a low-level selector for easier overriding
.site-header,
.main-content {
    // Button styles
    // .button {
    //     &.is-primary.is-outlined {
    //         &,
    //         &:active,
    //         &:hover,
    //         &:focus,
    //         &.is-active {
    //             border-color: $primary-dark !important; // sass-lint:disable-line no-important
    //             color: $primary-dark !important; // sass-lint:disable-line no-important

    //             .icon {
    //                 fill: $primary-dark !important; // sass-lint:disable-line no-important
    //             }
    //         }
    //     }
    // }

    .fly-out-nav__trigger {
        &:hover,
        &:focus,
        &:active {
            .icon {
                fill: $primary-dark !important;
            }
        }

        .icon {
            fill: $primary-dark !important;
        }
    }
}

.lang-nav--horizontal {
    a {
        color: $primary-invert !important;

        &.has-background-primary {
            background-color: $primary !important;
        }
    }
}

.event-search-form {
    .button.is-primary {
        @extend .is-primary-invert;
    }
}

.language-nav {
    .dropdown {
        .dropdown-trigger {
            .button {
                &,
                &:active,
                &:hover,
                &:focus {
                    color: $black !important;
                    border-color: $black !important;

                    .icon {
                        fill: $black !important;
                    }
                }
            }
        }
    }
}

.icon-links .icon-links {
    &__item {
        > a.is-primary.is-outlined {
            color: $black !important;
            border-color: $black !important;
        }
    }
}

.link-list {
    &__links {
        a {
            color: darken($primary, 70%) !important;

            .icon {
                fill: darken($primary, 70%) !important;
            }
        }

    }
}

.subpages {
    &__items {
        a {
            &.has-background-image {
                color: $white !important;
            }
        }
    }
}

.search-item {
    &__title {
        > a {
            &:hover,
            &:focus {
                color: lighten($black, 25%);
            }
        }
    }

    &__meta-item {
        > a {
            &:hover,
            &:focus {
                color: darken($primary, 70%) !important;
            }
        }
    }
}

.logo-wall {
    &__link {
        outline-color: $black !important;
    }
}

.share-links {
    li {
        a.has-background-accent {
            &:hover,
            &:focus,
            &:active {
                background-color: $black !important;

                .icon {
                    fill: $white !important;
                }
            }
        }
    }
}

.layout-articles {
    &__read-more {
        color: darken($primary, 70%) !important;

        .icon {
            fill: darken($primary, 70%) !important;
        }

        &:hover,
        &:focus {
            color: $black !important;

            .icon {
                fill: $black !important;
            }
        }
    }
}

.gform_wrapper {
    .button {
        border-color: $black !important;
    }
}

.entry {
    &__content {
        > p {
            > a {
                color: darken($primary, 70%) !important;

                &:hover,
                &:focus {
                    color: $black !important;
                }
            }
        }
    }
}

.events {
    &__item-inner {
        .icon {
            fill: $accent !important;
        }
    }
}

.accordion {
    &__close-all,
    &__open-all,
    &__icon-text {
        color: $primary-invert !important;
    }

    &__close-all,
    &__open-all {
        .icon {
            fill: $primary-invert !important;
        }
    }
}
