.share-links {
    li {
        a.has-background-accent {
            &:hover,
            &:active,
            &:focus {
                background-color: $accent !important;
            }
        }
    }
}
