$fly-out-nav-trigger-icon: $primary-dark;
$fly-out-nav-trigger-icon-hover: bulmaDarken($primary-dark, 50);

// Use a low-level selector for easier overriding
.site-header,
.main-content {
    // Button styles
    .button {
        &.is-primary.is-outlined {
            &,
            &:active,
            &.is-active {
                border-color: $primary-dark !important; /* stylelint-disable-line declaration-no-important */
                color: $primary-dark !important; /* stylelint-disable-line declaration-no-important */

                .icon {
                    fill: $primary-dark !important; /* stylelint-disable-line declaration-no-important */
                }
            }
        }
    }
}
