.button {
    &,
    &:hover,
    &:focus {
        color: $black !important;

        .icon {
            fill: $black !important;
        }
    }
}

.pill {
    color: $primary !important;
}

.site-header {
    &__logo-image {
        > a {
            &:focus {
                outline-color: $black;
            }
        }
    }
}

.icon {
    &.is-primary {
        fill: $accent !important;
    }
}

.lang-nav--horizontal {
    a {
        &,
        &:hover,
        &:focus {
            color: $primary-invert !important;
        }
    }
}

.language-nav {
    .dropdown-trigger {
        .button {
            color: $black !important;
            border-color: $black !important;

            .icon {
                fill: $black !important;
            }
        }
    }
}

.icon-links .icon-links {
    &__item {
        > a.is-primary.is-outlined {
            color: $black !important;
            border-color: $black !important;
        }

        .icon {
            fill: $primary !important;
            background-color: $black !important;
        }
    }
}

.search-item {
    &__title {
        > a {
            &:hover,
            &:focus {
                color: lighten($black, 25%);
            }
        }
    }

    &__meta-item {
        > a {
            &:hover,
            &:focus {
                color: darken($primary, 70%) !important;
            }
        }
    }
}

.logo-wall {
    &__link {
        outline-color: $black !important;
    }
}

.share-links {
    a {
        &:hover,
        &:focus {
            .icon {
                fill: $primary !important;
            }
        }
    }
}

.gform_wrapper {
    .button,
    button {
        color: $black !important;
        background-color: transparent !important;
        border-color: $black !important;

        &:hover,
        &:focus {
            color: $black !important;
            background-color: transparent !important;
            border-color: $black !important;
        }
    }
}

.subpages {
    &__items {
        a {
            &.has-background-image {
                color: $white !important;

                &:hover,
                &:focus {
                    color: $white !important;
                }
            }

            &.has-background-primary {
                &:hover,
                &:focus {
                    color: $white !important;

                    .icon {
                        fill: $white !important;
                    }
                }
            }
        }
    }
}

.events {
    &__item-inner {
        > .button.is-primary {
            color: $black !important;
            border-color: $black !important;

            &:hover,
            &:focus {
                color: $black !important;
            }
        }
    }
}

.search-form {
    &__button {
        color: $black !important;

        .icon {
            fill: $black !important;
        }
    }
}

.event-search-form {
    .button.is-primary {
        @extend .is-secondary-invert;
    }
}

.events {
    &__more-link {
        color: $black;

        .icon {
            fill: $black;
        }
    }
}

.accordion {
    &__row {
        border-color: $black !important;
    }

    &__close-all,
    &__open-all,
    &__icon-text {
        color: $primary-invert !important;
    }

    &__close-all,
    &__open-all,
    &__title-button {
        .icon {
            fill: $primary-invert !important;
        }
    }
}

.notice-banner {
    &.has-background-secondary {
        .icon {
            fill: $black !important;
        }
    }
}

.link-list {
    &__links {
        a {
            color: $black !important;

            .icon {
                fill: $black !important;
            }
        }
    }
}

.grid {
    &__item {
        .button {
            &,
            &:hover,
            &:focus {
                background-color: $primary-invert !important;
                color: $color-white !important;
                border-color: $primary-invert !important;
            }

            &:hover,
            &:focus {
                text-decoration: underline !important;
            }
        }
    }
}

.materials {
    .has-border-secondary {
        border-color: $black;
    }

    .button.is-primary {
        color: $black !important;
        border-color: $black !important;
    }
}

.related-posts {
    &__item {
        .button {
            &,
            &:hover,
            &:focus {
                background-color: $primary-invert !important;
                color: $color-white !important;
                border-color: $primary-invert !important;
            }

            &:hover,
            &:focus {
                text-decoration: underline !important;
            }
        }
    }
}
