.button {
    &.is-secondary.is-outlined {
        &,
        &:active,
        &.is-active,
        &:hover,
        &.is-hovered,
        &:focus {
            color: $secondary-invert !important;
            border-color: $secondary-invert !important;
        }
    }
}
