@import "functions";

// All Tampere brand colors
$color-white: #fff;
$color-black: #171718;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;
