@import "functions";

// All Tampere brand colors
$color-white: #fff;
$color-black: #171718;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-tunnelma: #c83e36;
$color-tumma-tiilenpunainen: #ae1e20;
$color-tiilenpunainen: #eb5e58;

$color-muutos: #cb4a6c;
$color-marjanpunainen: #ad3963;
$color-lila-violetti: #7361a2;

$color-tyo: #29549a;
$color-tumma-vesi: #22437B;
$color-usva: #668ec9;

$color-koti: #39a7d7;
$color-uni: #5390b5;
$color-veden-sininen: #91c9ea;

$color-kokemus: #abc872;
$color-havun-vihrea: #397368;
$color-vaalea-petrooli: #8cc1b3;

$color-idea: #f4d240; // Idea
$color-paahde: #e8b455; // Paahde
$color-haive: #f8de79; // Häive

$color-vaalean-harmaa: #bebfbf; // Vaalean harmaa
$color-vaalea-harmaa: $color-vaalean-harmaa; // Added for consistency, real name has 'vaalean'
$color-tumman-harmaa: #585857; // Tumman harmaa
$color-tumma-harmaa: $color-tumman-harmaa; // Added for consistency, real name has 'tumman'
$color-vaalea-siniharmaa: #e5eef8; // Vaalea siniharmaa
$color-vaalea-siniharmaa-50: rgba(229, 238, 248, 0.5); // Vaalean siniharmaa 50%
$color-siniharmaa: #cad6e2; // Siniharmaa
$color-siniharmaa-75: rgba( 202, 214, 226, .75 ); // Siniharmaa 75%

// Color panels with primary color with dark and light variations (plus inverts)
$color-tunnelma-invert: $color-white;
$color-tunnelma-dark: $color-tumma-tiilenpunainen;
$color-tunnelma-dark-invert: $color-tunnelma-invert;
$color-tunnelma-light: $color-tiilenpunainen;
$color-tunnelma-light-invert: $color-tunnelma-invert;

$color-muutos-invert: $color-white;
$color-muutos-dark: $color-marjanpunainen;
$color-muutos-dark-invert: $color-muutos-invert;
$color-muutos-light: $color-lila-violetti;
$color-muutos-light-invert: $color-muutos-invert;

$color-tyo-invert: $color-white;
$color-tyo-dark: $color-tumma-vesi;
$color-tyo-dark-invert: $color-tyo-invert;
$color-tyo-light: $color-usva;
$color-tyo-light-invert: $color-tunnelma-invert;

$color-koti-invert: $color-white;
$color-koti-dark: $color-uni;
$color-koti-dark-invert: $color-koti-invert;
$color-koti-light: $color-veden-sininen;
$color-koti-light-invert: $color-koti-invert;

$color-kokemus-invert: $color-white;
$color-kokemus-dark: $color-havun-vihrea;
$color-kokemus-dark-invert: $color-kokemus-invert;
$color-kokemus-light: $color-vaalea-petrooli;
$color-kokemus-light-invert: $color-kokemus-invert;

$color-idea-invert: $color-white;
$color-idea-dark: $color-paahde;
$color-idea-dark-invert: $color-idea-invert;
$color-idea-light: $color-haive;
$color-idea-light-invert: $color-idea-invert;

/**
 * Each entry contains primary, primary-invert, light, light-invert, dark, dark-invert
 */
$tampere-palettes: (
    "grays": (
        "primary": $color-vaalea-siniharmaa,
        "primary-invert": $color-black,
        "secondary": $color-tumma-harmaa,
        "secondary-invert": $color-white,
        "light": $color-siniharmaa,
        "light-invert": $color-black,
        "dark": $color-tumma-harmaa,
        "dark-invert": $color-white
    ),
    "tunnelma": (
        "primary": $color-tunnelma,
        "primary-invert": $color-tunnelma-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-tunnelma-light,
        "light-invert": $color-tunnelma-light-invert,
        "dark": $color-tunnelma-dark,
        "dark-invert": $color-tunnelma-dark-invert
    ),
    "muutos": (
        "primary": $color-muutos,
        "primary-invert": $color-muutos-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-muutos-light,
        "light-invert": $color-muutos-light-invert,
        "dark": $color-muutos-dark,
        "dark-invert": $color-muutos-dark-invert
    ),
    "tyo": (
        "primary": $color-tyo,
        "primary-invert": $color-tyo-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-tyo-light,
        "light-invert": $color-tyo-light-invert,
        "dark": $color-tyo-dark,
        "dark-invert": $color-tyo-dark-invert
    ),
    "koti": (
        "primary": $color-koti,
        "primary-invert": $color-koti-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-koti-light,
        "light-invert": $color-koti-light-invert,
        "dark": $color-koti-dark,
        "dark-invert": $color-koti-dark-invert
    ),
    "kokemus": (
        "primary": $color-kokemus,
        "primary-invert": $color-kokemus-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-kokemus-light,
        "light-invert": $color-kokemus-light-invert,
        "dark": $color-kokemus-dark,
        "dark-invert": $color-kokemus-dark-invert
    ),
    "idea": (
        "primary": $color-idea,
        "primary-invert": $color-idea-invert,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-idea-light,
        "light-invert": $color-idea-light-invert,
        "dark": $color-idea-dark,
        "dark-invert": $color-idea-dark-invert
    ),
    "black": (
        "primary": $color-black,
        "primary-invert": $color-white,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-white,
        "light-invert": $color-black,
        "dark": $color-black,
        "dark-invert": $color-white
    ),
    "white": (
        "primary": $color-white,
        "primary-invert": $color-black,
        "secondary": $color-vaalea-siniharmaa,
        "secondary-invert": $color-black,
        "light": $color-white,
        "light-invert": $color-black,
        "dark": $color-black,
        "dark-invert": $color-white
    )
) !default;
