
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue, $body-font-size: 17px) {
    @return #{stripUnit($pxValue) / stripUnit($body-font-size)}rem;
}

@function get_calculated_sizes($base_size: 17px, $scale_value: 1.165, $as_list: false) {
    $size-h6: $base_size * $scale_value;
    $size-h5: $size-h6 * $scale_value;
    $size-h4: $size-h5 * $scale_value;
    $size-h3: $size-h4 * $scale_value;
    $size-h2: $size-h3 * $scale_value;
    $size-h1: $size-h2 * $scale_value;

    @if ($as_list) {
        @return ($size-h1 $size-h2 $size-h3 $size-h4 $size-h5 $size-h6)
    }

    @return (
        "h1": rem($size-h1, $base_size),
        "h2": rem($size-h2, $base_size),
        "h3": rem($size-h3, $base_size),
        "h4": rem($size-h4, $base_size),
        "h5": rem($size-h5, $base_size),
        "h6": rem($size-h6, $base_size),
    )
}
