.sitemap {
    &--toggle {
        .icon {
            margin-right: 0 !important; /* stylelint-disable-line declaration-no-important */
            margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
        }
    }
}
