$exove-accordion-icon-color: clr(primary);
$exove-accordion-icon-height: 10px;
$exove-accordion-icon-width: 20px;
$exove-accordion-mobile-font-size: $exove-font-16;
$exove-accordion-desktop-font-size: $exove-font-20;
$exove-accordion-desktop-active-font-size: $exove-font-22;
$exove-accordion-content-horizontal-margin: $exove-space-xs;
$exove-accordion-content-vertical-margin: $exove-space-s;
$exove-accordion-content-margin--large: $exove-space-l;
$exove-accordion-item-distance: $exove-space-m;

@mixin exove-accordion-item($exove-class: '.accordion') {
  @at-root {
    #{$exove-class} {
      font-size: $exove-accordion-mobile-font-size;

      @include from($desktop) {
        font-size: $exove-accordion-desktop-font-size;
      }
    }

    #{$exove-class}__item {
      display: inline-block;
      margin-bottom: $exove-accordion-item-distance;
      width: 100%;
    }

    #{$exove-class}__heading {
      @include exove-button-reset;

      color: clr(text);
      align-items: center;
      font-size: $exove-accordion-mobile-font-size;
      border: 2px solid clr(accent-secondary);
      cursor: pointer;
      width: 100%;
      padding: $exove-space-m-plus 0;
      display: flex;
      justify-content: space-between;
      text-align: left;

      @include from($desktop) {
        font-size: $exove-accordion-desktop-font-size;
      }

      &.is-active {
        border-color: clr(primary);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        font-weight: $exove-font-weight-bold;

        @include from($desktop) {
          font-size: $exove-accordion-desktop-active-font-size;
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);
        }

        #{$exove-class}__icon {
          transform: rotate(0deg);
        }
      }

      &:hover,
      &:focus {
        border-color: clr(primary);
      }
    }

    #{$exove-class}__icon {
      color: $exove-accordion-icon-color;
      flex-shrink: 0;
      transform: rotate(180deg);
      height: $exove-accordion-icon-height;
      width: $exove-accordion-icon-width;
      margin-right: $exove-space-l;
    }

    #{$exove-class}__title-wrapper {
      margin: 0;
    }

    #{$exove-class}__title {
      @include exove-word-wrap;

      margin: 0 $exove-space-s;
      max-width: var(--text-content-max-width);

      @include from($desktop) {
        margin: 0 $exove-space-l;
      }
    }

    #{$exove-class}__content {
      display: none;

      &.active {
        display: block;
        margin: $exove-accordion-content-vertical-margin $exove-accordion-content-horizontal-margin;

        @include from($desktop) {
          margin: $exove-accordion-content-margin--large;
        }
      }

      // Drupal
      > :first-child {
        margin-top: 0;
      }
    }
  }
}

.accordion {
  $exove-base_class: &;

  @include exove-accordion-item;

  // Variations
  &--plain {
    --focus-outline-offset: 5px;

    #{$exove-base_class}__item {
      background-color: clr(background);
      margin-bottom: $exove-space-xs;
    }

    #{$exove-base_class}__heading {
      border: $exove-border-thick-transparent;
      box-shadow: none;
      font-family: inherit;
      font-size: $exove-font-18;
      font-weight: $exove-font-weight-medium;

      @include until($desktop) {
        padding-top: $exove-space-m-plus;
        padding-bottom: $exove-space-m-plus;
      }

      @include from($desktop) {
        font-size: $exove-font-20;
      }

      &:hover:not(.is-active) {
        border: $exove-border-thick-primary;
      }

      &.is-active {
        border-top: $exove-border-thick-primary;
        border-right: $exove-border-thick-primary;
        border-bottom: 0;
        border-left: $exove-border-thick-primary;
        font-weight: $exove-font-weight-bold;
      }
    }

    #{$exove-base_class}__title {
      @include until($desktop) {
        margin-left: $exove-space-m;
      }
    }

    #{$exove-base_class}__icon {
      margin-right: $exove-space-s;
    }

    #{$exove-base_class}__content {
      font-size: $exove-font-14;
      margin: 0;
      padding-right: $exove-space-m;
      padding-bottom: $exove-space-s;
      padding-left: $exove-space-m;

      @include from($desktop) {
        font-size: $exove-font-18;
        padding-right: $exove-space-l;
        padding-bottom: $exove-space-l;
        padding-left: $exove-space-l;
      }

      &.active {
        border-right: $exove-border-thick-primary;
        border-bottom: $exove-border-thick-primary;
        border-left: $exove-border-thick-primary;
      }
    }
  }
}

.accordions {
  @include exove-page-element-spacer;
}

$exove-process-accordion-circle-border-width: 2px;
$exove-process-accordion-circle-border-style: solid;
$exove-process-accordion-circle-size: 27px;

$exove-process-accordion-process-icon-height: 8px;
$exove-process-accordion-process-icon-width: 16px;

$exove-process-accordion-content-line-width: 2px;
$exove-process-accordion-content-height: calc(100% + var(--accordion-content-margin-vertical) * 2 + #{$exove-process-accordion-process-icon-height});
$exove-process-accordion-heading-line-length: $exove-accordion-item-distance;

$exove-process-accordion-left-distance: $exove-space-xl;
$exove-process-accordion-left-distance--desktop: $exove-space-xxl;
$exove-process-accordion-content-line-left-distance: calc((var(--process-accordion-left-spacing) + var(--accordion-content-margin-horizontal)) * (-1) + (#{$exove-process-accordion-circle-size} / 2 - (#{$exove-process-accordion-content-line-width} / 2)));
$exove-process-accordion-heading-line-left-distance: calc((var(--process-accordion-left-spacing) * (-1)) + (#{$exove-process-accordion-circle-size} / 2 - (#{$exove-process-accordion-content-line-width} / 2)));

.process-accordion {
  --accordion-content-margin-horizontal: #{$exove-accordion-content-horizontal-margin};
  --accordion-content-margin-vertical: #{$exove-accordion-content-vertical-margin};
  --process-accordion-line-color: #{clr(process-accordion-inactive-line)};
  --process-accordion-circle-color: #{clr(primary)};
  --process-accordion-left-spacing: #{$exove-process-accordion-left-distance};

  @include exove-accordion-item(&);
  @include exove-page-element-spacer;

  $exove-base_class: &;

  @include from($desktop) {
    --accordion-content-margin-horizontal: #{$exove-accordion-content-margin--large};
    --accordion-content-margin-vertical: #{$exove-accordion-content-margin--large};
    --process-accordion-left-spacing: #{$exove-process-accordion-left-distance--desktop};
  }

  &__accordions-heading {

    margin-bottom: $exove-space-m;

    @include from($desktop) {
      margin-bottom: $exove-space-l;
    }
  }

  &__item,
  &__title-wrapper,
  &__content {
    position: relative;
  }

  &__item {
    margin-left: var(--process-accordion-left-spacing);
    width: calc(100% - var(--process-accordion-left-spacing));

    &:last-of-type {
      margin-bottom: 0;

      #{$exove-base_class}__content::before,
      #{$exove-base_class}__title-wrapper::after {
        content: none;
      }

      #{$exove-base_class}__process-icon {
        display: none;
      }
    }
  }

  &__title-wrapper {
    &::before {
      border-color: var(--process-accordion-circle-color);
      border-style: $exove-process-accordion-circle-border-style;
      border-width: $exove-process-accordion-circle-border-width;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      height: $exove-process-accordion-circle-size;
      width: $exove-process-accordion-circle-size;
      left: calc(var(--process-accordion-left-spacing) * (-1));
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    &::after {
      background-color: var(--process-accordion-line-color);
      border-radius: 100px;
      content: "";
      width: $exove-process-accordion-content-line-width;
      height: $exove-process-accordion-heading-line-length;
      position: absolute;
      left: $exove-process-accordion-heading-line-left-distance;
      bottom: $exove-process-accordion-heading-line-length * (-1);
    }
  }

  &__content {
    &::before {
      background-color: var(--process-accordion-line-color);
      border-radius: 100px;
      bottom: calc(var(--accordion-content-margin-horizontal) * (-1) - #{$exove-accordion-item-distance} - #{$exove-process-accordion-process-icon-height});
      content: "";
      height: $exove-process-accordion-content-height;
      width: $exove-process-accordion-content-line-width;
      position: absolute;
      left: $exove-process-accordion-content-line-left-distance;

      @include from($desktop) {
        bottom: calc(var(--accordion-content-margin-horizontal) * (-1) - #{$exove-accordion-item-distance});
      }
    }
  }

  &__icon {
    @include until($desktop) {
      margin-right: $exove-space-m;
    }
  }

  &__process-icon {
    color: var(--process-accordion-line-color);
    position: absolute;
    bottom: $exove-process-accordion-heading-line-length * (-1);
    left: calc((var(--process-accordion-left-spacing) * (-1) + (#{$exove-process-accordion-process-icon-width} / 2.8)));
    transform: rotate(180deg);
    height: $exove-process-accordion-process-icon-height;
    width: $exove-process-accordion-process-icon-width;
  }

  // Accordion item variations
  &__item--ready {
    --process-accordion-line-color: #{clr(process-accordion-inactive-line)};

    #{$exove-base_class}__title-wrapper {
      &::before {
        background-image: url('../icons/checkmark-blue.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__item--current {
    --process-accordion-line-color: #{clr(primary)};
    --process-accordion-circle-color: #{clr(primary)};

    #{$exove-base_class}__title-wrapper {
      &::before {
        background-color: clr(primary);
      }
    }
  }

  &__item--future {
    --process-accordion-line-color: #{clr(process-accordion-inactive-line)};
    --process-accordion-circle-color: #{clr(process-accordion-inactive-circle)};
  }
}
