.attachment-list {
    $base_class: &;
  
    @include page-element-spacer;
  
    padding: 0;
    max-width: var(--basic-component-max-width);
  
    &__heading {
      @include text-element-spacer;
    }
  
    &__body {
      font-size: $font-18;
      max-width: var(--text-content-max-width);
  
      @include large {
        font-size: $font-20;
      }
    }
  
    &__list {
      @include list-reset;
  
      padding: 0;
    }
  
    &__attachment {
      border-bottom: 2px solid clr(border);
    }
  
    &__link {
      text-decoration: none;
      color: clr(text);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: $space-m;
  
      &:focus,
      &:hover {
        #{$base_class}__name {
          text-decoration: underline;
        }
      }
    }
  
    &__name {
      @include word-wrap;
  
      margin: $space-s $space-m $space-s 0;
      font-size: $font-18;
      flex: 1 0 50%;
  
      @include large {
        margin: $space-s $space-m;
        font-size: $font-20;
      }
    }
  
    &__icon {
      height: $icon-default;
      width: $icon-default;
    }
  
    &__summary {
      margin: 0 $space-m $space-s 0;
      font-size: $font-14;
      flex-basis: 100%;
  
      @include large {
        font-size: $font-18;
        margin: 0 $space-m $space-s $space-xl;
      }
    }
  
    &--accordion-content-view-mode {
      @include accordion-content-spacer;
  
      #{$base_class}__list {
        margin-left: $space-xs * (-1);
        margin-right: $space-xs * (-1);
  
        @include large {
          margin-left: $space-l * (-1);
          margin-right: $space-l * (-1);
        }
      }
  
      #{$base_class}__link {
        padding-left: $space-xs;
  
        @include large {
          padding-left: $space-s;
        }
      }
    }
  }
  