.infograph {
    background-color: clr(background-secondary);
    color: clr(primary-text-on-background-secondary, #{clr(primary)});
    height: 100%;
    padding: $space-l $space-m;
  
    @include large {
      padding: $space-xl $space-l;
    }
  
    &__heading {
      position: relative;
      font-weight: $font-weight-black;
      font-size: $font-48;
      margin-top: 0;
      margin-bottom: $space-l;
      overflow-wrap: anywhere;
  
      &::after {
        content: "";
        display: block;
        background-color: clr(background);
        height: 9px;
        width: 58px;
        position: absolute;
        bottom: $space-xxs * (-1);
  
        @include large {
          bottom: $space-s * (-1);
        }
      }
  
      @include large {
        padding-right: 0;
        line-height: 1.1;
        margin-bottom: $space-xxl;
        font-size: $font-80;
      }
    }
  
    &__content {
      font-size: $font-16;
      margin: 0;
  
      @include large {
        font-size: $font-20;
      }
    }
  
    &--alt {
      background-color: clr(accent-tertiary);
      color: clr(primary-text-on-tertiary, #{clr(primary)});
    }
  }
  