.involvement-card {
    @include page-element-spacer;
  
    background-color: clr(involvement-secondary);
    font-size: $font-14;
  
    @include large {
      font-size: $font-18;
    }
  
    &__main-content {
      padding-top: $space-xs;
      padding-right: $space-xs;
      padding-left: $space-m;
      padding-bottom: $space-m;
  
      @include large {
        padding-top: $space-m;
        padding-right: $space-m;
        padding-left: $space-xl;
        padding-bottom: $space-xl;
      }
    }
  
    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: $space-m;
      
      @include large {
        flex-direction: row;
        margin-bottom: $space-l;
      }
    }
  
    &__heading {
      font-size: $font-18;
      padding-top: $space-xs;
      margin-right: $space-s;
  
      @include large {
        font-size: $font-22;
        margin-right: $space-xl;
        padding-top: $space-l;
      }
  
      &--link {
        border-bottom: $border-thick-primary;
        
        a {
          text-decoration: none;
          color: clr(text);
        }
      }
    }
  
    &__type-container {
      display: flex;
      flex-direction: column;
      width: max-content;
  
      @include large {
        flex-direction: row;
      }
    }
  
    &__way {
      background-color: clr(involvement);
    }
  
    &__time {
      background-color: clr(background);
  
      @include large {
        margin-left: $space-xs;
      }
    }
  
    &__way,
    &__time {
      color: clr(primary);
      font-size: $font-16;
      font-weight: $font-weight-bold;
      text-align: center;
      padding: $space-xxs $space-xs;
      margin-top: $space-xs;
  
      @include large {
        font-size: $font-18;
        padding: $space-xs $space-s;
        margin-top: $space-m;
      }
    }
  
    &__phase-container {
      display: flex;
      align-items: center;
      order: -1;
      align-self: flex-end;
  
      @include large {
        order: 0;
        align-self: flex-start;
        flex-direction: column;
        margin-left: auto;
      }
    }
  
    &__icon {
      width: $icon-medium;
      height: $icon-medium;
      color: clr(involvement);
      margin-left: $space-xs;
  
      @include large {
        width: $icon-large-minus;
        height: $icon-large-minus;
      }
    }
  
    &__phase {
      color: clr(primary);
      font-size: $font-12;
      font-weight: $font-weight-bold;
  
      @include large {
        order: 1;
        font-size: $font-18;
        text-align: center;
      }
    }
  
    &__sign-up,
    &__summary,
    &__description {
      margin-top: $space-s;
  
      @include large {
        margin-top: $space-m;
      }
    }
  
    &__location-container {
      display: flex;
      margin-top: $space-l;
    }
  
    &__place-icon {
      color: clr(primary);
      width: $icon-small;
      height: $icon-medium;
      margin-right: $space-s;
    }
  
    &__location-heading {
      font-weight: $font-weight-bold;
      margin: 0;
  
      @include large {
        margin-bottom: $space-xxs;
      }
    }
  
    &__location-content {
      margin-bottom: 12px;
      
      @include large {
        margin-bottom: $space-l;
      }
    }
  
    &__location-wrapper {
      // Drupal
      p {
        margin-top: 0;
      }
    }
  
    &__web-heading {
      font-weight: $font-weight-bold;
      margin: 0;
      
      @include large {
        margin: 0;
      }
    }
  
    &__web-content {
      @include link;
    }
  
    &__links {
      margin-top: $space-m;
  
      @include large {
        margin-top: $space-l;
      }
    }
  }
