.anchor-link {
    cursor: pointer;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    display: block;
    height: auto;
    left: -32px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    position: absolute;
    z-index: 1;
}
