$process-accordion-circle-border-width: 2px;
$process-accordion-circle-border-style: solid;
$process-accordion-circle-size: 27px;

$process-accordion-process-icon-height: 8px;
$process-accordion-process-icon-width: 16px;

$process-accordion-content-line-width: 2px;
$process-accordion-content-height: calc(100% + var(--accordion-content-margin-vertical) * 2 + #{$process-accordion-process-icon-height});
$process-accordion-heading-line-length: $accordion-item-distance;

$process-accordion-left-distance: $space-xl;
$process-accordion-left-distance--desktop: $space-xxl;
$process-accordion-content-line-left-distance: calc((var(--process-accordion-left-spacing) + var(--accordion-content-margin-horizontal)) * (-1) + (#{$process-accordion-circle-size} / 2 - (#{$process-accordion-content-line-width} / 2)));
$process-accordion-heading-line-left-distance: calc((var(--process-accordion-left-spacing) * (-1)) + (#{$process-accordion-circle-size} / 2 - (#{$process-accordion-content-line-width} / 2)));

.process-accordion {
  --accordion-content-margin-horizontal: #{$accordion-content-horizontal-margin};
  --accordion-content-margin-vertical: #{$accordion-content-vertical-margin};
  --process-accordion-line-color: #{clr(process-accordion-inactive-line)};
  --process-accordion-circle-color: #{clr(primary)};
  --process-accordion-left-spacing: #{$process-accordion-left-distance};

  @include accordion-item(&);
  @include page-element-spacer;

  $base_class: &;

  @include large {
    --accordion-content-margin-horizontal: #{$accordion-content-margin--large};
    --accordion-content-margin-vertical: #{$accordion-content-margin--large};
    --process-accordion-left-spacing: #{$process-accordion-left-distance--desktop};
  }

  &__accordions-heading {
    margin-bottom: $space-m;

    @include large {
      margin-bottom: $space-l;
    }
  }

  &__item,
  &__title-wrapper,
  &__content {
    position: relative;
  }

  &__item {
    margin-left: var(--process-accordion-left-spacing);
    width: calc(100% - var(--process-accordion-left-spacing));

    &:last-of-type {
      margin-bottom: 0;

      #{$base_class}__content::before,
      #{$base_class}__title-wrapper::after {
        content: none;
      }

      #{$base_class}__process-icon {
        display: none;
      }
    }
  }

  &__title-wrapper {
    &::before {
      border-color: var(--process-accordion-circle-color);
      border-style: $process-accordion-circle-border-style;
      border-width: $process-accordion-circle-border-width;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      height: $process-accordion-circle-size;
      width: $process-accordion-circle-size;
      left: calc(var(--process-accordion-left-spacing) * (-1));
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    &::after {
      background-color: var(--process-accordion-line-color);
      border-radius: 100px;
      content: "";
      width: $process-accordion-content-line-width;
      height: $process-accordion-heading-line-length;
      position: absolute;
      left: $process-accordion-heading-line-left-distance;
      bottom: $process-accordion-heading-line-length * (-1);
    }
  }

  &__content {
    &::before {
      background-color: var(--process-accordion-line-color);
      border-radius: 100px;
      bottom: calc(var(--accordion-content-margin-horizontal) * (-1) - #{$accordion-item-distance} - #{$process-accordion-process-icon-height});
      content: "";
      height: $process-accordion-content-height;
      width: $process-accordion-content-line-width;
      position: absolute;
      left: $process-accordion-content-line-left-distance;

      @include large {
        bottom: calc(var(--accordion-content-margin-horizontal) * (-1) - #{$accordion-item-distance});
      }
    }
  }

  &__icon {
    @include large-down {
      margin-right: $space-m;
    }
  }

  &__process-icon {
    color: var(--process-accordion-line-color);
    position: absolute;
    bottom: $process-accordion-heading-line-length * (-1);
    left: calc((var(--process-accordion-left-spacing) * (-1) + (#{$process-accordion-process-icon-width} / 2.8)));
    transform: rotate(180deg);
    height: $process-accordion-process-icon-height;
    width: $process-accordion-process-icon-width;
  }

  // Accordion item variations
  &__item--ready {
    --process-accordion-line-color: #{clr(process-accordion-inactive-line)};

    #{$base_class}__title-wrapper {
      &::before {
        // background-image: url('../images/icon-sets/main-site-icons/checkmark-blue.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__item--current {
    --process-accordion-line-color: #{clr(primary)};
    --process-accordion-circle-color: #{clr(primary)};

    #{$base_class}__title-wrapper {
      &::before {
        background-color: clr(primary);
      }
    }
  }

  &__item--future {
    --process-accordion-line-color: #{clr(process-accordion-inactive-line)};
    --process-accordion-circle-color: #{clr(process-accordion-inactive-circle)};
  }
}
